{% extends "layout.html" %}

{% block title %}
    Review devices
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Manufacturer</th>          
          <th scope="col">Serial</th>
          <th scope="col">Department</th>
          <th scope="col">Country</th>
          <th scope="col">Type</th>
          <th scope="col">Recieve date</th>
          <th scope="col">Maintenance date</th>
          <th scope="col">Cost</th>
          <th scope="col">Remove date</th>
          {% if status == "all" %}
          <th scope="col">Status</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
        <th scope="row">{{loop.index}}</th>
        {%for val in row %}
        <td>{{val}}</td>
        {% endfor %}
        <tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
