{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
	{% if session['log_tech'] is defined %}
    <form action="/login" method="post">
	{% elif session['log_man'] is defined %}
	<form action="/login" method="post">
	{% elif session['log_hr'] is defined %}
	<form action="/login" method="post">
	{% else %}
	<script>
		window.location.replace='index.html'
	</script>
	{% endif%}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
