{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
	{% if session['log_tech'] %}
    <form action="/login_tech" method="post">
	{% elif session['log_man'] %}
	<form action="/login_man" method="post">
	{% elif session['log_hr'] %}
	<form action="/login_hr" method="post">
	{% else %}
	<script>
		window.location='/'
	</script>
	{% endif%}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" value="{{request.form.username}}">
        </div>
        {% if err_user %}
        <p>Please provide a username</p>
        {% endif %}
        {% if err_inv_user %}
        <p>Invalid Username</p>
        {% endif %}
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" value="{{request.form.password}}">
        </div>
        {% if err_pwd %}
        <p>Please provide a password</p>
        {% endif %}
        {% if err_inv_pwd %}
        <p>Invalid Password</p>
        {% endif %}
        {% if disabled_acc %}
        <p>Your account is disabled</p>
        {% endif %}
        
        {% if err_user_pwd %}
        <p>Invalid username and/or password. Please try again.</p>
        {% endif %}
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
