{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}

{% block main %}

{% for msg in warning_msg %}
<div class="alert alert-warning alert-dismissible" role="alert">
	{{ msg[0] }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% if message %}
<div class="alert alert-success alert-dismissible" role="alert">
		{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}

{% if session.token_man %}
<a class="btn btn-primary" href="/short_ppm_report" role="button">Short ppm report</a>
<a class="btn btn-primary" href="/detailed_ppm_report" role="button">Detailed ppm report</a>
<a class="btn btn-primary" href="/installing_report" role="button">Installing report</a>
<a class="btn btn-primary" href="/moving_report" role="button">Moving report</a>
<a class="btn btn-primary" href="/removing_report" role="button">Removing report</a>
{% endif %}
{% endblock %}
