{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {% if reg_type == "man" %}
    <form action="/add_man" method="post" id="form">
	{% elif reg_type == "tech" %}
	<form action="/add_tech" method="post" id="form">
	{% else %}
	<script>
		window.location='/'
	</script>
	{% endif %}
        <div class="form-group">
			<label for="user_input">Username</label>
            <input autocomplete="off" autofocus class="form-control" id="user_input" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
			<label for="password">Password</label>
            <input class="form-control" id="password" name="password" placeholder="Password" type="password" pattern=".{8,}"  required title="8 characters minimum">
			<img src="https://cdn1.iconfinder.com/data/icons/essential-21/128/Eye-512.png" padding="10px" width="20" height="20" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();"/>
			<script>
				function mouseoverPass(obj) {
					var obj = document.getElementById('password');
					obj.type = "text";
				}
				function mouseoutPass(obj) {
					var obj = document.getElementById('password');
					obj.type = "password";
				}
			</script>
		</div>
        <div class="form-group">
			<label for="confirm">Password confirmation</label>
			<input class="form-control" id="confirm" name="confirmation" placeholder="confirm password" type="password" required oninput="check(this)">
			<img src="https://cdn1.iconfinder.com/data/icons/essential-21/128/Eye-512.png" padding="10px" width="20" height="20" onmouseover="mouseoverPassConfirm();" onmouseout="mouseoutPassConfirm();"/>
			<script>
				function mouseoverPassConfirm(obj) {
					var obj = document.getElementById('confirm');
					obj.type = "text";
				}
				function mouseoutPassConfirm(obj) {
					var obj = document.getElementById('confirm');
					obj.type = "password";
				}
			</script>
			<script language='javascript' type='text/javascript'>
				function check(input) {
					if (input.value != document.getElementById('password').value) {
						input.setCustomValidity('Password Must be Matching.');
					} else {
						// input is valid -- reset the error message
						input.setCustomValidity('');
					}
				}
			</script>
        </div>
        <label for="email">Email</label>
            <input autocomplete="off" autofocus class="form-control" id="Email" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="form-group">
			<label for="name">Full name</label>
            <input autocomplete="off" class="form-control" id="name" name="name" placeholder="Your full name" type="text" required>
        </div>
        <div class="form-group">
			<label for="SSN">Social Security number</label>
			<input autocomplete="off" class="form-control" id="SSN" name="SSN" placeholder="Social security number" type="text" onkeypress="return isNumberKey(event)" minlength="14" maxlength="14" required title="Enter your 14-numbered social security number">
			<script>
				function isNumberKey(evt){
					var charCode = (evt.which) ? evt.which : evt.keyCode
					if (charCode > 31 && (charCode < 48 || charCode > 57))
						return false;
					return true;
				}
			</script>
        </div>
        <div class="form-group">
			<label for="sex">Sex</label>
            <select id="sex" name="sex" required>
				<option value="">Select sex</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
        </div>
        <div class="form-group">
			<label for="bdate">Birth day</label>
            <input autocomplete="off" class="form-control" min="1970-01-01" max="2010-01-01" id="bdate" name="bdate" type="date" required>
        </div>
        <div class="form-group">
			<label for="phone">Phone number</label>
            <input autocomplete="off" class="form-control" id="phone" name="phone" placeholder="Phone number" type="text" required onkeypress="return isNumberKey(event)" minlength="11" maxlength="11" title="Enter your phone number in 01xxxxxxxx format">
        </div>
        
        <div class="form-group">
			<label for="department">Department</label>
            <select id="department" name="department">
				{% for department in departments %}
				<option value = "{{ department }}">{{ department }}</option>
				{% endfor %}
			</select>
		</div>
        
        <div class="form-group">
			<label for="insurance">Insurance number (If applicable)</label>
            <input autocomplete="off" class="form-control" id="insurance" name="insurance" placeholder="Insurance number (If applicable)" type="text">
        </div>
        <div class="form-group">
			<label for="address">Street address</label>
            <input autocomplete="off" class="form-control" id="address" name="street" placeholder="Street address" type="text" required>
        </div>
        <div class="form-group">
		<label for="province">Province</label>
        <select id="province" name="province" required>
			<option value="">Select state</option>
			<option value="ALX">Al Iskandariyah</option>
			<option value="ASN">Aswan</option>
			<option value="AST">Asyut</option>
			<option value="BA">Al Bahr al Ahmar</option>
			<option value="BH">Al Buhayrah</option>
			<option value="BNS">Bani Suwayf</option>
			<option value="C">Al Qahirah</option>
			<option value="DK">Ad Daqahliyah</option>
			<option value="DT">Dumyat</option>
			<option value="FYM">Al Fayyum</option>
			<option value="GH">Al Gharbiyah</option>
			<option value="GZ">Al Jizah</option>
			<option value="IS">Al Isma`iliyah</option>
			<option value="JS">Janub Sina´</option>
			<option value="KB">Al Qalyubiyah</option>
			<option value="KFS">Kafr ash Shaykh</option>
			<option value="KN">Qina</option>
			<option value="MN">Al Minya</option>
			<option value="MNF">Al Minufiyah</option>
			<option value="MT">Matruh</option>
			<option value="PTS">Bur Sa`id</option>
			<option value="SHG">Suhaj</option>
			<option value="SHR">Ash Sharqiyah</option>
			<option value="SIN">Shamal Sina´</option>
			<option value="SUZ">As Suways</option>
			<option value="WAD">Al Wadi al Jadid</option>
			</select>
		</div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

{% endblock %}
