body
{
    background: url(background3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Title
{
    font-family: 'Italianno', cursive;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.select_role
{
    width: 150px;
    height: 100px;
    margin: 20px;
    font-size: 24px;
}

.login
{
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
}
.login_button
{
    width: 120px;
    height: 50px;
    font-size: 20px;
}

.error_mes
{
    color: red;
    font-style: oblique;
    font-size: 15px;
    font-weight: bold;
}



#user_input,
.eye,
#Email,
#password,
#confirm,
#name,
#SSN,
#sex,
#bdate,
#phone,
#department,
#insurance,
#address,
#province
{
    margin-left: 10px;
    font-size: 20px;
}

.table
{
    color: white;
    font-weight: bold;
     width: 50%;
     margin: 0 auto;
     margin-bottom: 5px;
     font-size: 18px;
     text-transform: capitalize;
}

input[type='checkbox']:after {
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgb(224,224,224);
    }
    input[type='checkbox']:checked:after {
    content: '✔';
    text-align: center;
    }


.form-group > label
{
    font-size: 20px;
    font-weight: 500;
}

td
{
    border: 1px solid black;
}

tr:nth-child(even) {background:#66dbff; color: black;}
tr:nth-child(odd) {background: #0099cc; color: black;}

textarea
{
    width: 25%;
}