{% extends "layout.html" %}

{% block title %}
    Review devices
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order code</th>
          <th scope="col">Device Serial</th>
          <th scope="col">Place</th>
          <th scope="col">Type</th>          
          <th scope="col">Department</th>
          <th scope="col">Issue Date</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
        <th scope="row">{{loop.index}}</th>
        {% for val in row %}
        {% if loop.index == 1 %}
        <td> <a href="/submit_order?id={{val}}">{{val}}</a> </td>
        {% else %}
        <td>{{val}}</td>
        {% endif %}
        {% endfor %}
        <tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
