{% extends "layout.html" %}

{% block title %}
    Review devices
{% endblock %}

{% block main %}
<h3>{{device_type}} Operator's Checklist</h3>
<p>This is the recommended checklist to use to inspect and test this {{device_type}}. </p>
<p>Unit Serial No: {{serial}}</p>
<p>Location: {{place}}</p>
<p>Date issued: {{date_issued}}</p>
<p>Technician name: {{tech_name}}</p>


	<form action="/submit_order" method="post" id="form">
		<input type="hidden" name="code" value="{{order_id}}">
		<input type="hidden" name="device_type" value="{{device_type}}">
		<input type="hidden" name="device_code" value="{{device_code}}">
		<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Test</th>
				<th scope="col">Found</th>
			</tr>
		</thead>	
		<tbody>
		{% for val in rows %}
		<tr>
			<td><label for="{{val[1]}}">{{val[0]}}</label></td>
			<td><input type="checkbox" id="{{val[1]}}" name="{{val[1]}}" aria-label="Checkbox for {{val[0]}}"></td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
    <div class="form-group">
			<label for="textarea">NOTES</label><br>
			<textarea class="form-control" id="textarea" name="notes" rows="3" maxlength="250" style="width: 25%; min-height: 100px;"></textarea>
	</div>
	<button class="btn btn-primary" type="submit">Sumbit</button>
{% endblock %}
